@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Poppins:wght@400;500;600;700&family=Proza+Libre:wght@600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.max-width{
    max-width: 100%;
    padding: 0 80px;
}


/* navbar */
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 99999;
}

.navbar.sticky{
    padding: 20px 0;
    background: #111;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    margin-left: 10px;
    color: #fff;;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    font-size: 35px;
    color: crimson;
    transition: all 0.3s ease;
}

/* .navbar.sticky .logo a span{
    color: #fff;
} */

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.3s ease;
}

.navbar .menu li a:hover{
    color: crimson;
}

.navbar.sticky .menu li a:hover{
    color: #fff;
}

.navbar .menu span{
    display: none;
}

/* menu btn */
.menu-btn{
    margin-right: 10px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;

}

/* scroll-up button */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #171c24;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover{
    opacity: 80%;
}



/* paragraf */
p{
    /* font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
    font-family: AcuminPro,arial,helvetica,sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #3d3d3d;
}



/* home section */
.home{
    display: flex;
    background: #111;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .column-left .text-1{
    font-size: 27px;
    color: #fff;
}

.home .home-content .column-left .text-2{
    font-size: 70px;
    font-weight: 600;
    margin-left: -3px;
    color: #fff;
}

.home .home-content .column-left .text-3{
    font-size: 40px;
    margin: 5px 0;
    color: #fff;
}

.home .home-content .column-left .text-3 span{
    color: crimson;
    font-weight: 500;
}

.home .home-content .column-left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 10px 30px;
    margin-top: 13px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content .column-left a:hover{
    color: crimson;
    background: none;
}



/* about section */
section{
    padding: 100px 0;
}

.about{
    font-family: 'Ubuntu', sans-serif;
}


.about .title{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);

}

.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .column-center .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .column-center .text span{
    color: crimson;
}


.about .about-content .column-center a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3 ease;
}

.about .about-content .column-center a:hover{
    color: crimson;
    background: none;
}


/* skills section */
.skills{
    font-family: 'Poppins', sans-serif;
}

.skills .title{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);

}

.skills .title::after{
    content: "expertise";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .column-left,
.skills .skills-content .column-right{
    width: calc(50% - 30px);
}

.skills .skills-content .column-left{
    width: 45%;
}

/* .skills .skills-content .column-left p{
    text-align: justify;
} */

.skills .skills-content .column-left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 15px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3 ease;
}

.skills .skills-content .column-left a:hover{
    color: crimson;
    background: none;
}

.skills .skills-content .column-left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .column-right{
    width: 55%;
    padding-left: 80px;
}

.skills .skills-content .column-right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .column-right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .column-right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .column-right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skills-content .column-right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills .skills-content .column-right .php::before{
    width: 10%;
}

.skills .skills-content .column-right .c::before{
    width: 20%;
}

.skills .skills-content .column-right .python::before{
    width: 10%;
}

.skills .skills-content .column-right .js::before{
    width: 10%;
}



/* blog */
.article{
    font-family: 'Ubuntu', sans-serif;
    /* color: #fff; */
}

.article .article-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.article .title{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.article .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);

}

.article .title::after{
    content: "recent post";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.article .article-content .card{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    width: calc(33% - 20px);
    /* text-align: center; */
    margin-bottom: 10px;
    padding: 20px 25px;
    transition: all 0.3s ease;
}

.article .article-content .card:hover{
    transform: translateY(-4px)!important;
    -webkit-transform: translateY(-4px)!important;
    box-shadow: 0 17px 25px rgba(0,0,0,0.13)!important;
    -webkit-box-shadow: 0 17px 25px rgba(0,0,0,0.13);
    -moz-box-shadow: 0 17px 25px rgba(0,0,0,0.13);
}

.article .article-content .card img{
    width: 100%;
    height: 200px;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
}

.article .article-content .card span{
    font-weight: 500;
    text-align: left;
    color: #007bb6;
}

.article .article-content .card .judul{
    text-align: left;
    font-size: 23px;
    font-weight: 500;
}

.article .article-content .card .judul a{
    color: #111;
}

.article .article-content .card .tanggal a:hover,
.article .article-content .card .judul a:hover{
    color: #2b55ad;
}

/* .article .article-content .card .kategori{
    margin-bottom: 10px;
    text-align: left;
}

.article .article-content .card .kategori a{
    color: #007bb6;
}

.article .article-content .card .kategori a:hover{
    color: #222;
} */




/* .article .article-content .card .tanggal{
    text-align: left;
    margin: 10px 0;
    font-weight: 500;
}
.article .article-content .card .tanggal a{
    color: #555;
} */





.article .article-content .view{
    background: crimson;
    font-size: 18px;
    padding: 8px 16px;
    margin: 40px auto -10px auto;
    border-radius: 6px;
    border: 2px solid crimson;
    cursor: pointer;
    transition: all 0.3 ease;
}

.article .article-content .view:hover{
    background: none;
}

.article .article-content .view a{
    padding: 8px 18px;
    color: #fff;
}

.article .article-content .view a:hover{
    color: crimson;
    background: #fff;
}





/* contact */
.contact{
    font-family: 'Poppins', sans-serif;
}

.contact .title{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.contact .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);

}

.contact .title::after{
    content: "feedback";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column-left,
.contact .contact-content .column-right{
    width: calc(50% - 30px);
}

.contact .contact-content .column-left{
    width: 45%;
}

.contact .contact-content .column-left .text{
    font-size: 23px;
    font-weight: 600;
}


.contact .contact-content .column-left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 38px;
    align-items: center;
}

.contact .contact-content .column-left .row .fas{
    font-size: 15px;
    color: #fff;
    background: #1a1a1a;
    height: 33px;
    width: 33px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.contact .contact-content .row .fas:hover{
    opacity: 80%;
}

.contact .contact-content .row .teks{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 16px;
    font-weight: 400;
    color: #3d3d3d;
    margin-left: 5px;
}




/* Message */
.contact .contact-content .column-right .text{
    font-size: 22px;
    font-weight: 600;
    margin-top: 23px;
}

.contact .contact-content .column-right form{
    margin-top: 5px;
}

.contact .contact-content .column-right form .teks{
    font-size: 1.125rem;
    margin-bottom: 2px;
    color: #656565;
}

.contact .contact-content .column-right form .msg{
    margin-top: 10px;
}

.contact .contact-content .column-right form input, .column-right form textarea{
    width: 90%;
    font-size: 1.0625rem;
    background: #fff;
    border: 1.5px solid rgb(191, 186, 186);
}

.contact .contact-content .column-right form input:focus, .column-right form textarea:focus{
    outline-color: #3498db;
}

.contact .contact-content .column-right form input{
    padding-left: 5px;
    font-size: 11px;
    height: 35px;
}

.contact .contact-content .column-right form textarea{
    font-size: 13px;
    padding-left: 5px;
    resize: none;
}

.contact .contact-content .column-right form .btn{
    margin-bottom: 20px;
}

.contact .contact-content .column-right form .btn button{
    margin-top: 7px;
    height: 40px;
    width: 30%;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #171c24;
    background: #171c24;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;
}

.contact .contact-content .column-right form .btn button:hover{
    opacity: 80%;
}


/* footer */
footer{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #656565;
    margin-top: -5px;
    background: #111;
    padding: 15px 23px;
    text-align: center;
}

footer a{
    color: #656565;
}

footer a:hover{
    color: crimson;
}

footer span a{
    color: crimson;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}



/* responsive */

@media (max-width: 1200px){
    .max-width{
        padding: 0 50px;
    }

}

@media (max-width: 947px){
    

    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before{
        content: "\f00d";
        margin-right: -15px;
        padding: 18px;
        background: #111;
        border-radius: 50%;
        /* overflow: auto; */
    }

 


    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        right: -100%;
        top: 0;
        max-width: 75%;
        background: #111;
        text-align: center;
        overflow: hidden;
        padding-top: 100px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        right: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 24px;
        /* padding-right: 140px; */
    }

    .navbar .menu span {
        color: #111;
        font-size: 23px;
        margin-top: 130px;
        margin-right: 10px;
        display: inline-block;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        padding: 9px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .navbar .menu span:hover {
        opacity: 40%;
    } 

    

    
    /* home */
    .home{
        height: 100vh;
        width: 100%;
    }

    .home .home-content .column-left .text-2{
        font-size: 60px;
    }
    
    .home .home-content .column-left .text-3{
        font-size: 30px;
    }
    
    .home .home-content .column-left a{
        font-size: 24px;
        padding: 8px 25px;
    }
    



    /* skills */
    .skills .skills-content .column-left,
    .skills .skills-content .column-right{
        width: 100%;
        margin-bottom: 35px;
    }

    .skills .skills-content .column-right{
        padding-left: 0;
    }


    /* blog */
    .article .article-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }


    /* contact */
    .contact .contact-content .column-left,
    .contact .contact-content .column-right{
        width: 100%;
    }

    .contact .contact-content .row .teks{
        font-size: 16px;
    }

    
    .contact .contact-content .column-right form .btn button{
        height: 30px;
        width: 25%;
        font-size: 19px;
}
}


@media (max-width: 525px){
    .max-width{
        padding: 0 15px;
    }
    
    section{
        padding: 80px 0;
    }
    
    /* home */
    .home{
        height: 100vh;
    }
    
    .home .home-content .column-left{
        margin-left: -20px;
    }
    
    .home .home-content .column-left .text-2{
        font-size: 60px;
    }
    
    .home .home-content .column-left .text-3{
        font-size: 32px;
    }

    
    
    
    /* about */
    /* .about .max-width{
        margin: 0 -5px 0 -15px;
    } */
    
    .about .about-content .column-center a{
        font-size: 18px;
        padding: 9px 27px;
    }
    
    
    /* skills */
    /* .skills .max-width{
        margin: 0 -20px 0 -20px;
    } */
    
    .skills .skills-content .column-left a{
        font-size: 15px;
        padding: 9px 18px;
    }
    
    .skills .skills-content .column-left,
    .skills .skills-content .column-right{
        width: 100%;
        margin-bottom: 35px;
    }
    
    .skills .skills-content .column-right{
        padding-left: 0;
    }


    /* article */
    .article .article-content .card{
        width: 100%;
    }
    
    
    /* contact */
    .contact{
        margin-top: -50px;
    }

    /* .contact .max-width{
        margin: 0 -20px 0 -20px;
    } */
    
    .contact .contact-content .column-left,
    .contact .contact-content .column-right{
        width: 100%;
    }

    .contact .contact-content .column-right form .btn button{
        height: 35px;
        width: 30%;
        font-size: 20px;
        font-weight: 500;
        }

    /* footer */
    footer{
        font-size: 13px;
    }
}


@media (max-width: 380px){
    /* home */
    .home .home-content .column-left{
        margin-left: -20px;
    }

    .home .home-content .column-left .text-2{
        font-size: 50px;
    }
    
    .home .home-content .column-left .text-3{
        font-size: 30px;
    }

    .home .home-content .column-left a{
        font-size: 18px;
        padding: 8px 20px;
    }

    /* contact */
    .contact .title::after{
        font-size: 17px;
    }


    /* footer */
    footer{
        font-size: 11px;
    }
}